/* CSS code  */

* 
{
margin-top: 0;
}

body
{
    margin: 0px auto;
    
}

h1
{

}

h2
{
    color: red;
}
/* Nav bar start */

#navbar 
{
    background-color: #10243B;
    width: 100vw;
    margin-top: 0px;
    border-top: 20px;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);

}

#navbar ul
{
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
}

#navbar li
{
    float: left;
    background-color: inherit;
    color: white;
    margin: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;
}


#mycchs
{    
    background-color: #0088cc;
    display: inline-block;
    width: 200px;
    font-family: 'PT Sans Narrow', sans-serif;
    padding-bottom: 0;
}

.right
{
    float: right;
}

/* Hero start*/
#hero
{
    background-image: url(images/graduation.jpg);
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

#hero img
{
    position: relative;
    top: 250px;
    left: 150px;

}

#heading 
{
    font-family: 'PT Sans Narrow', sans-serif;
    color: inherit;
    font-size:4.5;
    font-weight: bold;
    position: relative;
    display: block;
    top: 120px;
    left: 350px;
    text-shadow: inherit;
}

#shadow
{
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom, 
    rgba(51,51,51,0.8) 0%,rgba(51,51,51,0) 56%,
    rgba(51,51,51,0) 100%);
    color: #ffffff;
    padding-top: 95px;
    min-height: 800px;
    text-shadow: 0px 2px 3px #333333;
    overflow: hidden;
    margin-top: 0 !important;
}

/* Start Explore CCHS */

#explore
{
    width: 100vw;
    height: 400px;
    background-image: url('//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png');
}

#browse
{
    text-align: center;
    background-color: #10243B;
    color: white;
    
}

#hurricane
{

    background-image: url(images/patriots\ plaza.jpg);
    background-size: cover;
    background-position: center;
}

#guide
{
    background-image: url(images/college.png);
    background-size: cover;
    background-position: center;
}

#ccnn
{
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: center;
}

#media
{
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: center;
}

#hurtext
{
    left: 2%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background-color: #10243B;
}

#guidetext
{
    left: 32%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background-color: #10243B;
}

#ccnntext
{
    left: 52%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background-color: #10243B;
}   

#mediatext
{
    left: 75%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background-color: #10243B;
}

.box
{
    width: 24%;
    height: 300px;
    background-color: black;
    display: inline-block;
}

.textbox
{
    padding: 20px;
    margin: 5px;
    text-align: center;
    position: absolute;
    top: 130%;
}

/* End of Explore */

/* Start of carousel */

#carousel
{
    background-color: white;
    height: 500px;
    text-align: center;
    width: 100vw;
    display: inline-block;
}

#scholar
{
    background-image: url(images/carosel\ money.jpg);
}

#colleges
{
    background-image: url(images/carosel\ graduation.jpg);
}

#levels
{
    background-image: url(images/book.jpg);
}

#teacher
{
    background-image: url(images/carosel\ teaching.jpg);
    
}

#text
{
    position: relative;
    top: 300px;
}

#ap
{
    position: relative;
    margin-top: 200px;
    background-color: #10243B;
    padding: 15px 20px 30px 20px;
    text-align: center;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg.png);
    display: block;
    color: white;
}


.textbox2
{
    width: 24%;
    height: 300px;
    background-color: rgb(170, 139, 139);
    display: inline-block;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}



/* End of carousel */

/* Start of college */

#college
{
    margin-top: 275px;
    text-align: center;
    border-top: 1px solid #dfd2b0;
    border-bottom: 1px solid #dfd2b0;
    background-image: url(//bbk12e1-cdn.myschoolcdn.com/ftpimages/709/site/1075/images/bg3.png);

}

#college img
{
    padding: 50px;
}

/* End of college */

/* Start of Footer */

#footer
{
    background-color: #10243B;
    height: 100px;
    
}

#footer ul
{
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow: hidden;
    color: white;
}